<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="提供家庭和办公局域网数据共享解决方案">
    <meta name="author" content="hongbo">
    <link rel="icon" href="/images/sd-icon-32.ico">

    <title>Super Disk - 家庭网共享盘</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">

    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/images/sd_logo.png" style="max-width:70px; margin:-8px 10px -5px 0;">Super Disk
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/"><span class="glyphicon glyphicon-hdd"></span> 我的网盘</a>
            </li>
            <li>
              <a href="/config.page"><span class="glyphicon glyphicon-cog"></span> 帐号管理</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			  	      <span class="glyphicon glyphicon-user"></span>
                用户: <strong id="nav_account"></strong>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/login.page"><span class="glyphicon glyphicon-off"></span> 帐号登出</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Begin page content -->
    #content#

    <footer class="footer">
      <div class="container">
        <p class="text-muted">
          &copy; 版权所有 <a href="https://github.com/bit128/sudisk" target="_blank">Super Disk</a>
          <small>version #version# </small>
        </p>
      </div>
    </footer>
  </body>
</html>